.add-btn {
  /* display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    line-height: 1.75 !important;
    font-size: 0.875rem !important; */
  font-size: 1.075rem !important;
}
p {
  margin: 0 !important;
}

.no-data-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: 1px solid black;
  height: 400px;
}
