.add-btn{
    /* display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    line-height: 1.75 !important;
    font-size: 0.875rem !important; */
    font-size: 1.075rem !important;
}
p{
    margin: 0 !important;

}
